* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}

span {
  font-size: 100%;
}

.nav {
  width: 100%;
  height: 9rem;
  padding: 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: transparent;
}
.nav__logo {
  width: 150px;
}
.nav__hamburger {
  width: 48px;
}
.nav__wrapper {
  width: 100%;
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  margin: 0 auto;
}
.nav__menu {
  max-width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #fff;
  list-style: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav__link {
  text-decoration: none;
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
}
.nav__menu-logo-wrapper {
  width: 100%;
  position: relative;
}
.nav__menu-logo-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1rem;
  left: 0;
  background-color: #000;
}
.nav__menu-logo {
  width: 150px;
}

.hero {
  width: 100%;
  height: 95vh;
  position: relative;
}
.hero__text {
  color: #fff;
  background-color: #111;
  padding: calc(80px + 2rem) 2rem 2rem 2rem;
  height: 50vh;
  max-height: 450px;
}
.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.hero__heading {
  font-size: 3.6rem;
}
.hero__orange {
  color: #FC6600;
}
.hero__description {
  font-size: 1.6rem;
  max-width: 400px;
}
.hero__buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
.hero__button {
  padding: 1rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #FC6600;
  width: 125px;
  font-weight: 500;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.hero__button--white {
  background-color: #fff;
  color: #FC6600;
}
.hero__button:hover {
  background-color: #e35c00;
}
.hero__button--white:hover {
  background-color: #e6e6e6;
}
.hero__image-wrapper {
  width: 100%;
  height: 30vh;
}
.hero__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.hero__switcher {
  position: absolute;
  background-color: #fff;
  left: 0;
  height: 50px;
  top: -50px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.hero__switch {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: #32383C;
  height: 100%;
  overflow: hidden;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.hero__switch--active {
  background-color: #fff;
  color: #000;
  cursor: default;
}
.hero__bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 95%;
  bottom: -1rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  padding: 2rem;
  max-width: 1366px;
}
.hero__search {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}
.hero__icon {
  width: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.5rem;
}
.hero__input-group {
  position: relative;
  width: 100%;
}
.hero__input-group:first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1rem;
  background-color: #ccc;
  bottom: -0.5rem;
  left: 0;
  opacity: 0.3;
}
.hero__input {
  padding: 1rem;
  color: #66686F;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding-left: 3.3rem;
}
.hero__input--select {
  padding-left: 3rem;
}
.hero__input--select::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  bottom: 0;
  left: 0;
}
.hero__option {
  font-size: 1.6rem;
}
.hero__search-button {
  display: block;
  padding: 1rem;
  background-color: #FC6600;
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.6rem;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.hero__search-button:hover {
  background-color: #e35c00;
}

.about {
  height: 100vh;
}

@media (min-width: 768px) {
  .hero__text {
    padding-top: 13rem;
  }
  .hero__heading {
    font-size: 5.2rem;
    max-width: 400px;
  }
  .hero__description {
    font-size: 1.8rem;
  }
  .hero__button {
    font-size: 1.8rem;
  }
  .hero__bar {
    bottom: 8.5rem;
  }
  .hero__search {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .hero__switch {
    font-size: 1.6rem;
  }
  .hero__input-group:first-child {
    width: 300px;
  }
  .hero__input-group:first-child::after {
    width: 1px;
    height: 100%;
    bottom: auto;
    left: auto;
    right: -0.8rem;
  }
  .hero__search-button {
    width: 150px;
  }
}
@media (min-width: 1024px) {
  .nav__wrapper {
    justify-content: flex-start;
    gap: 3rem;
  }
  .nav__logo {
    width: 180px;
  }
  .nav__hamburger {
    display: none;
  }
  .nav__menu {
    position: static;
    background-color: transparent;
    flex-direction: row;
    gap: 2rem;
    color: #fff;
    height: 100%;
    width: -moz-fit-content;
    width: fit-content;
    align-items: flex-end;
    padding: 0;
  }
  .nav__link {
    color: #fff;
    font-weight: 400;
    display: block;
    margin-top: 1.5rem;
    position: relative;
  }
  .nav__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: -0.5rem;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s;
  }
  .nav__link:hover::after {
    width: 100%;
  }
  .nav__menu-logo-wrapper {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 90vh;
  }
  .hero__text {
    width: 50%;
    height: 100%;
    max-height: none;
  }
  .hero__image-wrapper {
    width: 50%;
    height: 100%;
  }
  .hero__switch {
    font-size: 1.8rem;
  }
  .hero__search-button {
    font-size: 1.8rem;
    padding: 1.5rem 2.5rem;
  }
  .hero__bar {
    bottom: -4rem;
  }
  .hero__input {
    font-size: 1.8rem;
    padding-left: 4rem;
  }
  .hero__icon {
    width: 30px;
  }
  .hero__text-container {
    width: 95%;
    max-width: 1366px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
  }
  .hero__text-wrapper {
    gap: 2rem;
    margin-left: 0;
  }
  .hero__heading {
    font-size: 5.6rem;
    max-width: 500px;
  }
  .hero__description {
    font-size: 2rem;
    max-width: 500px;
    line-height: 1.6;
  }
  .hero__button {
    font-size: 2rem;
    width: 150px;
    padding: 1.5rem 1rem;
  }
  .hero__search-button {
    font-size: 2rem;
  }
}
@media (min-width: 1280px) {
  .nav__wrapper {
    gap: 8rem;
  }
  .nav__menu {
    gap: 4rem;
  }
}/*# sourceMappingURL=style.css.map */