// Styles reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

span {
    font-size: 100%;
}


// Variables starts
$main-color: #FC6600;
$gray: #66686F;
$dark: #111;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
// Variables ends


// Navigation styles starts
.nav {
    width: 100%;
    height: 9rem;
    padding: 2rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: transparent;

    &__logo {
        width: 150px;
    }

    &__hamburger {
        width: 48px;
    }

    &__wrapper {
        width: 100%;
        max-width: 1366px;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        align-items: center;
        margin: 0 auto;
    }

    &__menu {
        max-width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        list-style: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &__link {
        text-decoration: none;
        color: #000;
        font-size: 1.8rem;
        font-weight: 500;
    }

    &__menu-logo-wrapper {
        width: 100%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -1rem;
            left: 0;
            background-color: #000;
        }
    }


    &__menu-logo {
        width: 150px;
    }
}

// Navigation styles ends


// Hero section styles starts
.hero {
    width: 100%;
    height: 95vh;
    position: relative;

    &__text {
        color: #fff;
        background-color: $dark;
        padding: calc(80px + 2rem) 2rem 2rem 2rem;
        height: 50vh;
        max-height: 450px;
    }

    &__text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        max-width: 1300px;
        margin: 0 auto;
    }

    &__heading {
        font-size: 3.6rem;
    }

    &__orange {
        color: $main-color;
    }

    &__description {
        font-size: 1.6rem;
        max-width: 400px;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem
    }

    &__button {
        padding: 1rem;
        font-size: 1.6rem;
        color: #fff;
        background-color: $main-color;
        width: 125px;
        font-weight: 500;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &--white {
            background-color: #fff;
            color: $main-color;
        }

        &:hover {
            background-color: darken($main-color, 5%);
        }

        &--white:hover {
            background-color: darken(#fff, 10%);
        }
    }

    &__image-wrapper {
        width: 100%;
        height: 30vh;
    }

    &__image {
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    &__switcher {
        position: absolute;
        background-color: #fff;
        left: 0;
        height: 50px;
        top: -50px;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__switch {
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        background-color: #32383C;
        height: 100%;
        overflow: hidden;
        font-weight: bold;
        color: #fff;
        cursor: pointer;

        &--active {
            background-color: #fff;
            color: #000;
            cursor: default;
        }
    }

    &__bar {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: $box-shadow;
        width: 95%;
        bottom: -1rem;
        border-radius: 1rem;
        border-top-left-radius: 0;
        padding: 2rem;
        max-width: 1366px;
    }

    &__search {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
    }

    &__icon {
        width: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;
    }

    &__input-group {
        position: relative;
        width: 100%;

        &:first-child::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.1rem;
            background-color: #ccc;
            bottom: -0.5rem;
            left: 0;
            opacity: 0.3;
        }
    }

    &__input {
        padding: 1rem;
        color: $gray;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        padding-left: 3.3rem;

        &--select {
            padding-left: 3rem;
        }

        &--select::after {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ccc;
            bottom: 0;
            left: 0;
        }
    }

    &__option {
        font-size: 1.6rem;
    }

    &__search-button {
        display: block;
        padding: 1rem;
        background-color: $main-color;
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.6rem;
        color: #fff;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
            background-color: darken($main-color, 5%);
        }
    }
}

// Hero section styles ends


// About section styles starts
.about {
    height: 100vh;
}

// About section styles ends



// Media queries starts
@media(min-width: 768px) {
    .hero {
        &__text {
            padding-top: calc(9rem + 4rem);
        }

        &__heading {
            font-size: 5.2rem;
            max-width: 400px;
        }

        &__description {
            font-size: 1.8rem;
        }

        &__button {
            font-size: 1.8rem;
        }

        &__bar {
            bottom: 8.5rem;
        }

        &__search {
            flex-direction: row;
            flex-wrap: nowrap;
        }

        &__switch {
            font-size: 1.6rem;
        }

        &__input-group {

            &:first-child {
                width: 300px;
            }

            &:first-child::after {
                width: 1px;
                height: 100%;
                bottom: auto;
                left: auto;
                right: -0.8rem;
            }
        }

        &__search-button {
            width: 150px;
        }
    }
}

@media(min-width: 1024px) {
    .nav {
        &__wrapper {
            justify-content: flex-start;
            gap: 3rem;
        }

        &__logo {
            width: 180px;
        }

        &__hamburger {
            display: none;
        }

        &__menu {
            position: static;
            background-color: transparent;
            flex-direction: row;
            gap: 2rem;
            color: #fff;
            height: 100%;
            width: fit-content;
            align-items: flex-end;
            padding: 0;
        }

        &__link {
            color: #fff;
            font-weight: 400;
            display: block;
            margin-top: 1.5rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                background-color: #fff;
                bottom: -0.5rem;
                opacity: 1;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }

        &__menu-logo-wrapper {
            display: none;
        }
    }

    .hero {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 90vh;

        &__text {
            width: 50%;
            height: 100%;
            max-height: none;
        }

        &__image-wrapper {
            width: 50%;
            height: 100%;
        }

        &__switch {
            font-size: 1.8rem;
        }

        &__search-button {
            font-size: 1.8rem;
            padding: 1.5rem 2.5rem;
        }

        &__bar {
            bottom: -4rem;
        }

        &__input {
            font-size: 1.8rem;
            padding-left: 4rem
        }

        &__icon {
            width: 30px;
        }

        &__text-container {
            width: 95%;
            max-width: 1366px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 300px;
        }

        &__text-wrapper {
            gap: 2rem;
            margin-left: 0;
        }

        &__heading {
            font-size: 5.6rem;
            max-width: 500px;
        }

        &__description {
            font-size: 2rem;
            max-width: 500px;
            line-height: 1.6;
        }

        &__button {
            font-size: 2rem;
            width: 150px;
            padding: 1.5rem 1rem;
        }

        &__search-button {
            font-size: 2rem;
        }
    }
}

@media(min-width: 1280px) {
    .nav {
        &__wrapper {
            gap: 8rem;
        }

        &__menu {
            gap: 4rem;
        }
    }
}

// Media queries ends