// Styles reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

span {
    font-size: 100%;
}


// Variables starts

$main-color: #FC6600;
$gray: #66686F;
$box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

// Variables ends


// Navigation styles starts

.nav {
    width: 100%;
    height: 9rem;
    padding: 2rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: #332E2B;

    &__logo {
        width: 150px;
    }

    &__hamburger {
        width: 48px;
    }

    &__menu {
        max-width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        list-style: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &__link {
        text-decoration: none;
        color: #000;
        font-size: 1.8rem;
        font-weight: 500;
    }

    &__menu-logo-wrapper {
        width: 100%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -1rem;
            left: 0;
            background-color: #000;
        }
    }


    &__menu-logo {
        width: 150px;
    }
}

// Navigation styles ends


// Hero section styles starts

.hero {
    width: 100%;
    height: 95vh;
    position: relative;

    &__text {
        color: #fff;
        background-color: #332E2B;
        padding: calc(80px + 2rem) 2rem 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        height: 50vh;
    }

    &__heading {
        font-size: 3.6rem;
    }

    &__orange {
        color: $main-color;
    }

    &__description {
        font-size: 1.6rem;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem
    }

    &__button {
        padding: 1rem;
        font-size: 1.6rem;
        color: #fff;
        background-color: $main-color;
        width: 125px;
        font-weight: 500;
        border: none;
        outline: none;
        border-radius: 0.5rem;

        &--white {
            background-color: #fff;
            color: $main-color;
        }
    }

    &__image-wrapper {
        width: 100%;
        height: 30vh;

    }

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__bar {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: $box-shadow;
        width: 95%;
        bottom: -3rem;
        border-radius: 1rem;
        padding: 2rem;
    }

    &__search {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
    }

    &__icon {
        width: 24px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;
    }

    &__input-group {
        position: relative;
        width: 100%;

        &:first-child::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.1rem;
            background-color: #ccc;
            bottom: -0.5rem;
            left: 0;
            opacity: 0.3;
        }
    }

    &__input {
        padding: 1rem;
        color: $gray;
        font-size: 1.6rem;
        width: 100%;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        padding-left: 3.3rem;

        &--select {
            padding-left: 3rem;
        }

        &--select::after {
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #ccc;
            bottom: 0;
            left: 0;
        }
    }

    &__option {
        font-size: 1.6rem;
    }

    &__search-button {
        display: block;
        padding: 1rem;
        background-color: $main-color;
        border: none;
        outline: none;
        width: 100%;
        font-size: 1.6rem;
        color: #fff;
        border-radius: 0.5rem;
    }
}

// Hero section styles ends


// About section styles starts

.about {
    height: 100vh;
}

// About section styles ends