// Styles reset 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
}

$main-color: #FC6600;

// Navigation styles starts

.nav {
    width: 100%;
    height: 80px;
    padding: 2rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 150px;
    }

    &__hamburger {
        width: 48px;
    }

    &__menu {
        max-width: 300px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: #fff;
        list-style: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    &__link {
        text-decoration: none;
        color: #000;
        font-size: 1.8rem;
        font-weight: 500;
    }

    &__menu-logo-wrapper {
        width: 100%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: -1rem;
            left: 0;
            background-color: #000;
        }
    }


    &__menu-logo {
        width: 150px;
    }
}

// Navigation styles ends

// Hero section styles starts

.hero {
    width: 100%;
    height: 55vh;
    background-color: #000;

    &__text {
        color: #fff;
        padding: 2rem;
        padding-top: calc(80px + 2rem);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__heading,
    &__orange {
        font-size: 3.6rem;
    }

    &__orange {
        color: $main-color;
    }

    &__description {
        font-size: 1.6rem;
    }

    &__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5rem
    }

    &__button {
        padding: 1rem;
        font-size: 1.8rem;
        color: #fff;
        background-color: $main-color;
        width: 125px;
        font-weight: 500;
        border: none;
        outline: none;
        border-radius: 1rem;

        &--white {
            background-color: #fff;
            color: $main-color;
        }
    }

    &__image-wrapper {
        width: 100%;
        height: 30vh;
    }

    &__image {
        width: 100%;
        object-fit: cover;
    }
}

// Hero section styles ends